// Place all the styles related to the thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thought_wrapper {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    
    p {
        margin: 0;
    }
    
    .comment_counter {
        position: absolute;
        top: 20px;
        right: 16px;
        
    }
    
    h4 {
        margin-bottom: 5px;
        margin-top: 0px;
    }
    
    hr {
        margin: 5px 0px 5px 0px;
    }
    
    .btn {
        margin-top: 10px;
    }
}

.thought_content {
    padding: 10px 0px 10px 0px;
}
.thought_avatar {
    float: left;
    margin-right: 20px;
}

.thought_content_input {
    margin-bottom: 10px;
}

