// Place all the styles related to the thoughts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thought_wrapper {
    padding: 10px;
    border: 1px solid #727272;
    margin: 10px 0px 10px 0px;
    background-color: #eaeaea;
    border-radius: 6px;
    
    p {
        margin: 0;
    }
}